<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ALL POSTS</h1>
    <% for (let post of posts) { %>
    <h3><u><%= post.title %></u></h3>
    <p>(<%= post.description %>)</p>
    <p><%= post.post %></p>
    <p>- <%= post.author %></p>
    <hr />
    <% } %>

    <a href="/posts/addPost">+ Add post</a>
  </body>
</html>
